created on: Thu Jan 16 13:35:03 2020
<br>
Group 7
<br>
@authors: V.B., C.L.

In [13]:
import pandas as pd

In [51]:
path_project = './../'
path_pred = path_project + 'Pred/'
path_real = path_project + 'CSV_annotate/SEATGURU/'

In [52]:
df_pred = pd.read_csv(path_pred + 'pred_SEATGURU.csv', sep=';')
df_real = pd.read_csv(path_real + 'g7_SEATGURU_annotate.csv', sep=';')

In [53]:
df_pred.rename(columns={"img": "name"}, inplace = True)

In [54]:
df = pd.merge(df_real, df_pred, on = "name")

In [55]:
df

,name,format,height,width,height_to_width,ncol,aircraft_manufacturer,aircraft_type,view_x,view_y,view_proba,manufacturer,manufacturer_proba,type,type_proba
0,Cathay_Pacific_Airways_Boeing_777-300ER_C_0.jpg,jpg,540,960,0.5625,3,Boeing,777,Meal,Meal,0.996636,NaN,NaN,NaN,NaN
1,KLM_Airbus_A330-300_1.jpg,jpg,720,960,0.7500,3,Airbus,A330,Int,Int,0.970022,Airbus,0.994603,A330,0.999956
2,American_Airlines_Boeing_767-300_3.jpg,jpg,720,720,1.0000,3,Boeing,767,Int,Int,0.985077,Boeing,0.998506,777,0.994727
3,Air_Canada_Boeing_767-300ER_v2_3.jpg,jpg,720,960,0.7500,3,Boeing,767,Meal,Meal,0.999746,NaN,NaN,NaN,NaN
4,United_Airlines_Q400_A_2.jpg,jpg,720,960,0.7500,3,Other,NaN,Ext,Ext,0.996935,Boeing,NaN,777,0.997074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2551,Air_Canada_Airbus_A330_C_0.jpg,jpg,720,960,0.7500,3,Airbus,A330,Int,Int,0.922499,Airbus,0.998646,A330,0.993651
2552,Qatar_Airways_Airbus_A321_2.jpg,jpg,720,960,0.7500,3,Airbus,A321,Int,Int,0.999023,Boeing,0.964119,777,0.860583
2553,Frontier_Airlines_Airbus_A320_4.jpg,jpg,720,720,1.0000,3,Airbus,A320,Ext_Int,Ext_Int,0.992575,NaN,NaN,NaN,NaN
2554,Spirit_Airlines_Airbus_A320_V2_3.jpg,jpg,720,960,0.7500,3,Airbus,A320,Int,Meal,0.579223,NaN,NaN,NaN,NaN
2555,Lufthansa_Embraer_195_1.jpg,jpg,720,960,0.7500,3,Other,NaN,Int,Int,0.973264,Airbus,0.873686,A320,0.421689

In [26]:
ls = []
ls2 =[]
ls3 = []
ls4 = []
ls_model = ['A320','A321','A330','A350','A380','737','747','757','777']
ls_man = ['Airbus', 'Boeing']

for k in range(len(df.loc[:, 'name'])):
    if df.loc[:, 'view_x'][k] != df.loc[:, 'view_y'][k]:
        ls.append(df.loc[k, ['name','view_x','view_y']])
        
    else:
        if (df.loc[:, 'view_y'][k] == 'Ext') and (df.loc[:, 'aircraft_type'][k] in ls_model) and (df.loc[:, 'aircraft_type'][k] != df.loc[:, 'type'][k]):
            ls2.append(df.loc[k, ['name','aircraft_type','type']])

        else:
            if (df.loc[:, 'view_y'][k] == 'Int') and (df.loc[:, 'aircraft_manufacturer'][k] in ls_man) and (df.loc[:, 'manufacturer'][k] in ls_man) and (df.loc[:, 'aircraft_manufacturer'][k] != df.loc[:, 'manufacturer'][k]):
                ls3.append(df.loc[k, ['name', 'aircraft_manufacturer', 'manufacturer']])

            else: 
                if (df.loc[:, 'view_y'][k] == 'Int') and (df.loc[:, 'aircraft_type'][k] in ls_model) and (df.loc[:, 'type'][k] in ls_model) and (df.loc[:, 'aircraft_type'][k] != df.loc[:, 'type'][k]):
                    ls4.append(df.loc[k, ['name', 'aircraft_type', 'type']])
        

model_view = pd.DataFrame(ls)

metric_model_view = model_view.shape[0]/df.shape[0]

model_ext = pd.DataFrame(ls2)

metric_model_ext = model_ext.shape[0]/df[(df.loc[:,'view_y'] == 'Ext') & (df.loc[:, 'aircraft_type'].isin(ls_model))].shape[0]

model_int_man = pd.DataFrame(ls3)

metric_int_man = model_int_man.shape[0]/df[(df.loc[:, 'view_y'] == 'Int') & (df.loc[:, 'aircraft_manufacturer'].isin(ls_man)) & (df.loc[:, 'manufacturer'].isin(ls_man))].shape[0]

model_int_type = pd.DataFrame(ls4)

metric_int_type = model_int_type.shape[0]/df[(df.loc[:, 'view_y'] == 'Int') & (df.loc[:, 'aircraft_type'].isin(ls_model)) & (df.loc[:, 'type'].isin(ls_model))].shape[0]

In [111]:
model_ext

                                                name aircraft_type  type
22                          KLM_Boeing_737-700_2.jpg           737   747
48                 SpiceJet_Boeing_737-800_new_3.jpg           737  A330
51                         Finnair_Airbus_A321_0.jpg          A321  A320
65                  Asiana_Boeing_747-400_full_0.jpg           747  A320
103    Thomas_Cook_Airlines_Airbus_A330-200_V2_0.jpg          A330   777
110                Air_China_Airbus_A330-300_B_4.jpg          A330   777
130                   Air_China_Boeing_737-800_0.jpg           737   747
132              Austrian_Airlines_Airbus_A321_3.jpg          A321   777
133                     Aer_Lingus_Airbus_A320_2.jpg          A320  A330
135           Brussels_Airlines_Airbus_A320_V2_0.jpg          A320   777
146                 Iberia_Airbus_A320_Express_1.jpg          A320  A321
162         Turkish_Airlines_Airbus_A321_C_new_2.jpg          A321  A330
186                Singapore_Air_Airbus_A380_C_1.jpg          A380  A350
195          Delta_Airlines_Boeing_757-200_75S_1.jpg           757   777
229             Thomson_Airways_Boeing_737-800_3.jpg           737  A350
231                  Lufthansa_Boeing_747_8_V3_4.jpg           747   757
236               Turkish_Airlines_Airbus_A320_4.jpg          A320  A330
262         Turkish_Airlines_Airbus_A321_C_new_0.jpg          A321  A320
265            China_Airlines_Boeing_747-400_B_2.jpg           747  A320
269          Turkish_Airlines_Boeing_737-700_B_1.jpg           737  A330
301                 SAS_Airlines_Airbus_A330_B_4.jpg          A330  A320
307       South_African_Airways_Boeing_737_800_1.jpg           737  A320
325                       Wizz_Air_Airbus_A320_3.jpg          A320  A321
356           United_Airlines_Boeing_737-900_E_4.jpg           737  A321
392             Etihad_Airways_Airbus_A330-300_4.jpg          A330   777
403             Korean_Air_Boeing_777-200ER_V2_2.jpg           777  A321
404                Korean_Air_Boeing_737-800_A_0.jpg           737   777
430          Turkish_Airlines_Boeing_737-700_B_2.jpg           737   777
438              China_Eastern_Airbus_A330-200_0.jpg          A330  A320
466       Alaska_Airlines_Boeing_737-900_C_new_4.jpg           737  A320
...                                              ...           ...   ...
1915  Aeroflot_Russian_Airlines_Airbus_330_200_1.jpg          A330  A350
2000              EasyJet_Airlines_Airbus_A320_1.jpg          A320  A330
2039         Brussels_Airlines_Airbus_A330_300_4.jpg          A330   777
2053                 Korean_Air_Boeing_747-400_1.jpg           747   777
2085               Korean_Air_Boeing_777-300ER_3.jpg           777  A320
2126      Philippine_Airlines_Boeing_777-300ER_0.jpg           777   757
2139              AeroMexico_Boeing_737-700_V2_2.jpg           737   777
2145               Air_France_Boeing_777-300_D_3.jpg           777   737
2162         Air_New_Zealand_Boeing_777-200_NL_0.jpg           777  A320
2167                       Finnair_Airbus_A320_4.jpg          A320  A330
2175                    Air_China_Boeing_747-8_0.jpg           747  A330
2194             Azul_Airlines_Airbus_A330-200_0.jpg          A330   777
2245     Southwest_Airlines_Boeing_737-700_new_2.jpg           737  A330
2254            Cathay_Pacific_Airbus_A350-900_1.jpg          A350  A330
2276                 Lufthansa_Airbus_A321_NEK_3.jpg          A321   737
2284    Delta_Airlines_Airbus_A330_200_3L2_new_3.jpg          A330   777
2285          Thomas_Cook_Airlines_Airbus_A321_0.jpg          A321  A330
2344            Copa_Airlines_Boeing_737-800_C_3.jpg           737   777
2353          United_Airlines_Boeing_737_MAX_9_3.jpg           737   777
2387  Virgin_Australia_Boeing_737-800_Business_4.jpg           737   777
2391                 Qatar_Airways_Airbus_A380_1.jpg          A380  A320
2400               Bangkok_Airways_Airbus_A320_2.jpg          A320   777
2407           China_Airlines_Boeing_747-400_B_1.jpg           747   737
2417          Condor_Flugdienst_Boeing_757-300_1.jpg           757  A320
2447      Philippine_Airlines_Boeing_777-300ER_3.jpg           777   737
2462               Lufthansa_Airbus_A330-300_C_3.jpg          A330   777
2464              Fiji_Airways_Airbus_A330-200_0.jpg          A330  A320
2490                  SAS_Airlines_Airbus_A321_3.jpg          A321   777
2498         Turkish_Airlines_Boeing_737-800_A_0.jpg           737  A330
2546                      El_Al_Boeing_737-800_1.jpg           737   777

[126 rows x 3 columns]

In [58]:
df

,name,format,height,width,height_to_width,ncol,aircraft_manufacturer,aircraft_type,view_x,view_y,view_proba,manufacturer,manufacturer_proba,type,type_proba,error_view
0,Cathay_Pacific_Airways_Boeing_777-300ER_C_0.jpg,jpg,540,960,0.5625,3,Boeing,777,Meal,Meal,0.996636,NaN,NaN,NaN,NaN,False
1,KLM_Airbus_A330-300_1.jpg,jpg,720,960,0.7500,3,Airbus,A330,Int,Int,0.970022,Airbus,0.994603,A330,0.999956,False
2,American_Airlines_Boeing_767-300_3.jpg,jpg,720,720,1.0000,3,Boeing,767,Int,Int,0.985077,Boeing,0.998506,777,0.994727,False
3,Air_Canada_Boeing_767-300ER_v2_3.jpg,jpg,720,960,0.7500,3,Boeing,767,Meal,Meal,0.999746,NaN,NaN,NaN,NaN,False
4,United_Airlines_Q400_A_2.jpg,jpg,720,960,0.7500,3,Other,NaN,Ext,Ext,0.996935,Boeing,NaN,777,0.997074,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2551,Air_Canada_Airbus_A330_C_0.jpg,jpg,720,960,0.7500,3,Airbus,A330,Int,Int,0.922499,Airbus,0.998646,A330,0.993651,False
2552,Qatar_Airways_Airbus_A321_2.jpg,jpg,720,960,0.7500,3,Airbus,A321,Int,Int,0.999023,Boeing,0.964119,777,0.860583,False
2553,Frontier_Airlines_Airbus_A320_4.jpg,jpg,720,720,1.0000,3,Airbus,A320,Ext_Int,Ext_Int,0.992575,NaN,NaN,NaN,NaN,False
2554,Spirit_Airlines_Airbus_A320_V2_3.jpg,jpg,720,960,0.7500,3,Airbus,A320,Int,Meal,0.579223,NaN,NaN,NaN,NaN,True
2555,Lufthansa_Embraer_195_1.jpg,jpg,720,960,0.7500,3,Other,NaN,Int,Int,0.973264,Airbus,0.873686,A320,0.421689,False

In [90]:
# Dataframes with predictions errors

df['pred_OK'] = df.apply(lambda x :  x['view_x'] == x['view_y'], axis = 1)
df_view = df[['name', 'view_x', 'view_y', 'view_proba', 'pred_OK']]

df_view_OK = df_view[df_view['pred_OK']== True]
df_view_OK

,name,view_x,view_y,view_proba,pred_OK
0,Cathay_Pacific_Airways_Boeing_777-300ER_C_0.jpg,Meal,Meal,0.996636,True
1,KLM_Airbus_A330-300_1.jpg,Int,Int,0.970022,True
2,American_Airlines_Boeing_767-300_3.jpg,Int,Int,0.985077,True
3,Air_Canada_Boeing_767-300ER_v2_3.jpg,Meal,Meal,0.999746,True
4,United_Airlines_Q400_A_2.jpg,Ext,Ext,0.996935,True
...,...,...,...,...,...
2550,Thai_Airways_Boeing_777-300ER_3.jpg,Int,Int,0.994875,True
2551,Air_Canada_Airbus_A330_C_0.jpg,Int,Int,0.922499,True
2552,Qatar_Airways_Airbus_A321_2.jpg,Int,Int,0.999023,True
2553,Frontier_Airlines_Airbus_A320_4.jpg,Ext_Int,Ext_Int,0.992575,True
2555,Lufthansa_Embraer_195_1.jpg,Int,Int,0.973264,True

In [91]:
df_view_err_no_others = df_view[(df_view['pred_OK']==False) &(df_view['pred_OK']!='Others')]
df_view_err_no_others

,name,view_x,view_y,view_proba,pred_OK
7,Etihad_Airways_Airbus_A380_0.jpg,Int,Meal,0.654932,False
8,United_Airlines_Boeing_767_300_ER_1.jpg,Int,Meal,0.827976,False
9,Iberia_Airbus_A330-200_0.jpg,Others,Ext,0.828651,False
10,China_Eastern_Boeing_777_300ER_0.jpg,Int,Meal,0.864358,False
11,Oman_Air_Boeing_737-900_3.jpg,Others,Meal,0.992915,False
...,...,...,...,...,...
2525,Iberia_Airbus_A330_300_4.jpg,Int,Meal,0.999767,False
2530,Thai_Airways_Airbus_A330-300_V2_4.jpg,Int,Meal,0.913861,False
2534,Delta_Airlines_Boeing_757-200_75G_4.jpg,Others,Int,0.747985,False
2545,Vietnam_Airlines_Airbus_A321-200_0.jpg,Int,Meal,0.794752,False
2554,Spirit_Airlines_Airbus_A320_V2_3.jpg,Int,Meal,0.579223,False

In [92]:
df_view_err_no_others = df_view[(df_view['pred_OK']==False) &(df_view['pred_OK']!='Others')]
df_view_err_no_others

,name,view_x,view_y,view_proba,pred_OK
7,Etihad_Airways_Airbus_A380_0.jpg,Int,Meal,0.654932,False
8,United_Airlines_Boeing_767_300_ER_1.jpg,Int,Meal,0.827976,False
9,Iberia_Airbus_A330-200_0.jpg,Others,Ext,0.828651,False
10,China_Eastern_Boeing_777_300ER_0.jpg,Int,Meal,0.864358,False
11,Oman_Air_Boeing_737-900_3.jpg,Others,Meal,0.992915,False
...,...,...,...,...,...
2525,Iberia_Airbus_A330_300_4.jpg,Int,Meal,0.999767,False
2530,Thai_Airways_Airbus_A330-300_V2_4.jpg,Int,Meal,0.913861,False
2534,Delta_Airlines_Boeing_757-200_75G_4.jpg,Others,Int,0.747985,False
2545,Vietnam_Airlines_Airbus_A321-200_0.jpg,Int,Meal,0.794752,False
2554,Spirit_Airlines_Airbus_A320_V2_3.jpg,Int,Meal,0.579223,False